{#
   * Created by PhpStorm.
   * User: Nemzag aka Gazmen Arifi (Shkypi, 1979-09-30).
   * Date: 2018-12-09
   * Time: 20:55
#}

<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir effacé cette catégorie ?');">

    <input type="hidden" name="_method" value="DELETE">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">

    <button class="btn btn-danger col-sm text-left"><i class="fas fa-trash-alt"></i><b> Ef‑facer cette Catégorie</b></button>

</form>
