{#
 * Created by PhpStorm.
 * User: Nemzag aka Gazmen Arifi (Shkypi, 1979-09-30).
 * Date: 2018-11-28
 * Time: 18:50
#}

{% extends 'default.html.twig' %}

{% block title %}Cônditiôn's de vênte{% endblock %}

{%  block main %}

    <br>
    <p><strong>Définitions et champ d’application</strong></p>
    <p>Les présentes conditions générales forment le contrat liant les parties, à savoir la Corne de Abondance, situé à Namur, inscrit à la BCE sous le numéro : 0111.222.333, ci-après dénommé <em>« le vendeur »</em>, et le client d’autre part.</p>
    <p><em>«Le client»</em> est toute personne physique ou morale qui commande des produits au vendeur.</p>
    <p><em>«Le consommateur»</em> est le client personne physique qui agit à des fins qui n&rsquo;entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale.</p>
    <p>Les présentes conditions générales sont accessibles à tout moment sur le site web du vendeur, de sorte qu’en passant commande auprès du vendeur, le client confirme son acceptation des présentes conditions générales. Le vendeur se réserve le droit de modifier les présentes conditions générales à tout moment sans notification préalable.</p>
    <p>Ces modifications s&rsquo;appliqueront à toutes les commandes de produits passées ultérieurement.</p>
    <p><strong>Prix</strong></p>
    <p>Les prix des produits sont indiqués en euros, toutes taxes comprises.</p>
    <p>Les frais de livraison sont compris dans le prix indiqué.</p>
    <p><strong>Commande</strong></p>
    <p>Pour passer commande, le client choisit sa formule d&rsquo;abonnement via un formulaire sur le site web du vendeur, il y indique ses coordonnées de facturation et de livraison et effectue le payement de son abonnement après réception de sa facture, envoyée par le vendeur par e-mail chaque début de mois suivant.</p>
    <p>Après avoir envoyé le formulaire, le client recevra un récapitulatif de sa commande par mail, reprenant notamment le numéro de sa commande, les produits commandés ainsi que leur prix, les présentes conditions générales ou un lien vers celles-ci, ainsi que la date se sa première de livraison.</p>
    <p>Le vendeur se réserve le droit de suspendre ou de refuser la commande, notamment dans le cas où les données communiquées par le client s’avèrent manifestement erronées ou incomplètes.</p>
    <p><strong>Droit de rétractation</strong></p>
    <p>En raison de la nature des produits vendus, susceptibles de se détériorer ou de se périmer rapidement, le consommateur ne peut bénéficier d’un droit de rétractation. (Voir article 53 du livre VI du Code de droit économique. )</p>
    <p><strong>Livraison </strong></p>
    <p>Les délais indiqués par le vendeur ne sont fournis qu’à titre indicatif et ne lient pas le vendeur. Un retard dans la livraison de la commande ne pourra donc en aucun cas donner lieu à une quelconque indemnité, dommages et intérêts, résolution du contrat ou suspension des obligations du client.</p>
    <p><strong>Disponibilité</strong></p>
    <p>Les produits proposés à la vente par le vendeur le sont dans la limite des stocks disponibles.</p>
    <p>En cas d&rsquo;indisponibilité d&rsquo;un ou plusieurs produit(s) après le payement de la commande, le vendeur s’engage à en informer le client dans les meilleurs délais et de lui donner le choix entre un remboursement, une modification de sa commande ou une livraison reportée à la  fin de la rupture de stock du ou des produit(s) concerné(s).</p>
    <p><strong>Réception de la commande</strong></p>
    <p>Le client est tenu de vérifier le bon état apparent ainsi que la conformité des produits qui lui sont livrés, avec les produits qu’il a commandés.</p>
    <p>Les éventuelles réclamations devront être formulées par écrit, dans un délai de 15 jours après la livraison de la commande. A défaut, elles ne pourront être prises en compte et le client sera réputé avoir réceptionné définitivement la commande. Si une réclamation s’avère fondée, le vendeur aura le choix entre remplacer ou rembourser les produits concernés.</p>
    <p><strong>Garantie légale</strong></p>
    <p>Garantie légale pour tous les clients</p>
    <p>Conformément aux articles 1641 à 1643 du Code civil, le vendeur est tenu de garantir les produits contre les vices cachés qui rendent les produits impropres à l’usage auxquels ils sont destinés, ou qui diminuent tellement cet usage que l’acheteur ne les aurait pas acquis ou n’en aurait donné qu’un moindre prix s’il les avait connus.</p>
    <p>En cas de constatation d’un vice caché, le client devra agir à bref délai, conformément à l’article 1648 du Code civil, et aura le choix entre rendre le produit atteint d’un vice caché contre un remboursement total, ou de le garder contre un remboursement partiel.</p>
    <p>Le vendeur n’est pas tenu de garantir les produits contre les vices apparents, dont le client a pu ou aurait dû se rendre compte au moment de l’achat.</p>
    <p>De même, le vendeur n’est tenu de garantir les produits que contre les vices cachés dont il avait connaissance au moment de la vente, et dont il s’est abstenu d&rsquo;avertir le client.</p>
    <p>Seuls la facture, le ticket de caisse ou le bon d&rsquo;achat valent comme certificats de garantie pour l’acheteur vis-à-vis du vendeur. Ces documents doivent être conservés par le client et présentés dans leur version originale.</p>
    <p>Garantie légale complémentaire pour les clients ayant la qualité de consommateurs.</p>
    <p>Conformément à l’article 1649 quater du Code civil, l’acheteur qui a la qualité de consommateur dispose en outre d’une garantie légale de deux ans pour tous les défauts de conformité qui existaient lors de la délivrance du produit et qui sont apparus dans un délai de deux ans à compter de celle-ci.</p>
    <p>Cette garantie comprend la réparation ou le remplacement du produit défectueux, sans frais pour le consommateur.</p>
    <p>Si toutefois cette réparation ou remplacement s’avère impossible, disproportionné pour le vendeur ou causerait un sérieux désagrément au consommateur, une réduction appropriée ou un remboursement pourront être proposés au consommateur, moyennant la remise des produits défectueux par celui-ci.</p>
    <p>Le consommateur est tenu d’informer le vendeur de l’existence du défaut de conformité, par écrit, dans un délai de maximum deux mois à compter du jour où il a constaté le défaut, sous peine de déchéance de son droit à réclamation.</p>
    <p>Seuls la facture, le ticket de caisse ou le bon d&rsquo;achat valent comme certificats de garantie pour l’acheteur vis-à-vis du vendeur. Ces documents doivent être conservés par le client et présentés dans leur version originale. Le délai de garantie démarre à la date mentionnée sur ces documents.</p>
    <p>Cette garantie ne s&rsquo;applique pas dans le cas où la défaillance découle d&rsquo;une utilisation erronée, de causes externes, d’un mauvais entretien, de phénomènes d&rsquo;usure normaux ou de toute utilisation qui n’est pas conforme aux instructions du fabricant ou du vendeur.</p>
    <p>En cas de dommage, vol ou perte d’un produit remis pour réparation, la responsabilité du vendeur sera en tout état de cause limitée au prix de vente du produit. Le vendeur ne pourra en aucun cas être tenu responsable de la perte ou de la reproduction de données stockées dans ou par des appareils électroniques remis pour réparation.</p>

{% endblock %}