{#
 * Created by PhpStorm.
 * User: Nemzag aka Gazmen Arifi (Shkypi, 1979-09-30).
 * Date: 2018-12-12
 * Time: 14:10
#}

{% extends 'default.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block main %}

    <section>

        <br>

        <h1>Erreur 404 !!!</h1>

        <hr class="my-4">

        <div class="alert alert-danger" role="alert">Vous n'avez pas le droit de accéder à ces informations !</div>

    </section>

{% endblock %}